<div class="flex fixed bottom-0 left-0 w-full h-12 bg-black">
  <div class="flex grow justify-around ">
    <div class="flex items-center">
      <mat-icon class="text-white" fontSet="material-icons-outlined"
        >calendar_month</mat-icon
      >
    </div>
    <div class="flex items-center">
      <mat-icon class="text-white" fontSet="material-icons-outlined"
        >nightlight</mat-icon
      >
    </div>
    <div class="flex items-center">
      <mat-icon class="text-white" fontSet="material-icons-outlined"
        >settings</mat-icon
      >
    </div>
  </div>
</div>
