<div class="mx-4 max-h-[450px] overflow-auto">
  <mat-card>
    <mat-card-header class="flex justify-center">
      <mat-card-title>Todays Mood</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div id="chart" style="min-height: 200px"></div>
      <p style=" height: 100px" class="overflow-auto flex justify-center">
        Today i slept really bad, cause i dreamed intense, and it feels like it
        drains my sleep quality. The day was good, gym was challenging, and i
        had a lot of fun with my GF.1234Today i slept really bad, cause i
        dreamed intense, and it feels like it drains my sleep quality. The day
        was good, gym was challenging, and i had a lot of fun with my
        GF.1234Today i slept really bad, cause i dreamed intense, and it feels
        like it drains my sleep quality. The day was good, gym was challenging,
        and i had a lot of fun with my GF.1234
      </p>
    </mat-card-content>
    <mat-card-actions class="flex justify-center">
      <button mat-raised-button class="mr-2">
        <mat-icon class="text-black" fontSet="material-icons-outlined"
          >edit_note</mat-icon
        >
        Edit todays mood
      </button>
    </mat-card-actions>
    <mat-card-footer> </mat-card-footer>
  </mat-card>
</div>
