$md-midnight: (
  50: #e1e5ea,
  100: #b4becb,
  200: #8293a9,
  300: #506887,
  400: #2b476d,
  500: #052753,
  600: #04234c,
  700: #041d42,
  800: #031739,
  900: #010e29,
  A100: #6380ff,
  A200: #3057ff,
  A400: #002ffc,
  A700: #002ae3,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);


/* For use in src/lib/core/theming/_palette.scss */
$md-sky: (
  50: #e1eaf2,
  100: #b4cade,
  200: #82a6c8,
  300: #4f82b2,
  400: #2a68a2,
  500: #044d91,
  600: #034689,
  700: #033d7e,
  800: #023474,
  900: #012562,
  A100: #92b1ff,
  A200: #5f8cff,
  A400: #2c67ff,
  A700: #1355ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);
